<%- include('partials/header'); -%>
<br>
<div class="container">
	<div class="jumbotron">
	  <h1 class="display-4">Hello, world!</h1>
	  <p class="lead">This is a simple page home from ejs template engine.</p>
	  <hr class="my-4">
	  <p>Other page is here : </p>
	  <a class="btn btn-primary btn-lg" href="/brand" role="button">Brand</a>
	  <a class="btn btn-success btn-lg" href="/item" role="button">Item</a>
	</div>
</div>
<%- include('partials/footer'); -%>